body{
   background-image: url("../materiales3/img/bg-hero-home.jpg");
   background-repeat:no-repeat;
   background-size: 100% 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
   background-color: white;
   margin-bottom: 20%;
}

main{
   background-color: white;
}

.ia{
    width: 77%;
    margin: 0 auto;
    font-size: 2em;
}
 .nav{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
 }

 footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
 }

 .footer-nav{
    border: 1px solid red;
    width: 78%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
 }
 .imagenes_footer{
    border: 1px solid red;
    width: 76%;
    margin: 0 auto;
 }

 footer p{
    width: 76%;
    margin: 0 auto;
 }

 /***** AQUÍ EMPEZAMOS CON EL MAIN *****/

 