body{
   background-image: url("../materiales3/img/bg-hero-home.jpg");
   background-repeat:no-repeat;
   background-size: 100% 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
   background-color: white;
   margin-bottom: 20%;
}

main{
   background-color: white;
   position: relative;
}

.ia{
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}
 .nav{
    width: 83%;
    margin: 0 auto;
    border: 1px solid red;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
 }

 footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
 }

 .footer-nav{
    border: 1px solid red;
    width: 83%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
 }
 .imagenes_footer{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
 }

 footer p{
    width: 80%;
    margin: 0 auto;
 }

 /***** AQUÍ EMPEZAMOS CON EL MAIN *****/

 #texto-superpuesto{
   font-size: 40px;
   color: white;
   position: absolute;
   top: -180%;
   right: 60%;
   transform: translate(90%, 30%);
 }

 h2{
   text-align: center;
 }

#index_article p{
   border: 1px solid red;
   width: 80%;
   margin: 0 auto;
   padding-bottom: 10px;
 }

 #section_index{
   display: flex;
   margin: 0 auto;
 }

 #section_index article{
   border: 1px solid red;
 }

 #section_index figure{
   text-align: center;
 }

 #section_index figure img{
   width: 200px;
   height: 200px;
 }
