@font-face {
    font-family: "fuente-google";
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf'),
        url('../fonts/source-sans-pro/SourceSansPro-It.otf'),
        url('../fonts/source-sans-pro/SourceSansPro-Black.otf'),
        url('../fonts/source-sans-pro/SourceSansPro-BlackIt.otf');
  }
  body{
    font-family:'fuente-google';
     background-image: url("../materiales3/img/bg-hero-home.jpg");
     background-size: 80% 70%;
     background-attachment:fixed;
      margin: 0;
      display: flex;
      flex-direction: column;
  }
  .navbar{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    z-index: 4;
  }
  #header_index{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 20%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  main{
    border-top: 1px solid #ffffff;
    box-shadow: inset 0 3px 4px rgba(181, 181, 181, 0.2);
     background-color: white;
     position: relative;
  }
  
  .ia{
      width: 80%;
      margin: 0 auto;
      font-size: 2em;
      
      
  }
  
  .ia a{
    text-decoration: none;
    color: black;
  }
   .nav{
      width: 83%;
      margin: 0 auto;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      gap: 30px;
  
   }
  
   .nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
   }
   .nav a:hover{
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
   }
  
   .active a{
    color: rgb(222, 35, 51);
   }
  
   .footer_final{
      padding-top: 5%;
      padding-bottom: 3%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
   }
  
   .footer-nav{
      width: 83%;
      margin: 0 auto;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      gap: 15px;
      padding-bottom: 1%;
   }
  
   .footer-nav a{
    color:white;
    text-decoration: none;
   }
  
   .footer-nav a:hover{
    color: rgb(222, 35, 51);
    text-decoration: none;
   }
  
   .imagenes_footer{
      width: 80%;
      margin: 0 auto;
      padding-bottom: 2%;
   }
  
   footer p{
      width: 80%;
      margin: 0 auto;
   }
  
   /***** AQUÍ EMPEZAMOS CON EL MAIN *****/
   main p a{
    text-decoration: none;
    color: rgb(222, 35, 51);
   }
  
   main p a:hover{
    text-decoration: underline;
    color: rgb(0,0,0);
   }

   #texto-superpuesto{
    font-size: 20px;
    color: white;
    position: absolute;
    top: -10%;
    right: 60%;
    transform: translate(90%, 30%);
  }

  #index_article h2{
    text-align: center;
  }

  #index_article p{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
 
  
 
  #section_index article{
    width: 20%;
  }

 
  #section_index figure{
    border: 1px solid red;
    margin: 0;
  }

   #section_index{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 11%;
    
  }

  #section_index figure img{
    width: 100%;
    height: 100%;
  }

  #section_index p:nth-of-type(1){
    width: 100px;
    height: 100px;
  }
 
  #section_index p:last-child{
    border: 1px solid red;
   font-size: 10px;
    margin-top: 4%;
    width: 100px;
    padding-top: 8%;
    padding-bottom: 8em;
    color: red;
  }

  /*
  
   #texto-superpuesto{
     font-size: 40px;
     color: white;
     position: absolute;
     top: -40%;
     right: 60%;
     transform: translate(90%, 30%);
   }


 #index_article h2{
    text-align: center;
  }
 
 #index_article p{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
 
  
 
  #section_index article{
    width: 20%;
  }
 
  #section_index figure{
    border: 1px solid red;
    margin: 0;
  }
 
 
 
  
 
  #section_index p:nth-of-type(1){
    width: 290px;
    height: 100px;
  }
 
  #section_index p:last-child{
   font-size: 10px;
    margin-top: 4%;
    width: 290px;
    padding-top: 8%;
    padding-bottom: 8em;
    color: red;
  }
 
   #section_index a{
   text-decoration: none;
   font-weight: bold;
   color: rgb(222, 35, 51);
 }
 
 #section_index a:hover{
   text-decoration: none;
   font-weight: bold;
   color: rgb(0,0,0);
 }
 
  #section_index h3{
    width: 290px;
  }

  img{
    width: 100px;
   }*/