@font-face {
  font-family: "fuente-google";
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf'),
      url('../fonts/source-sans-pro/SourceSansPro-It.otf'),
      url('../fonts/source-sans-pro/SourceSansPro-Black.otf'),
      url('../fonts/source-sans-pro/SourceSansPro-BlackIt.otf');
}
body{
  font-family:'fuente-google';
   background-image: url("../materiales3/img/bg-hero-home.jpg");
   background-size: 80% 70%;
   background-attachment:fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
   background-color: white;
   padding-top: 1%;
   padding-bottom: 1%;
   margin-bottom: 20%;
   position: sticky;
   top: 0;
   z-index: 1;
}

main{
   background-color: white;
   position: relative;
}

.ia{
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    
}

.ia a{
  text-decoration: none;
  color: black;
}
 .nav{
    width: 83%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

 }

 .nav a{
  text-decoration: none;
  color: rgb(0, 0, 0);
 }
 .nav a:hover{
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
 }

 footer{
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
 }

 .footer-nav{
    width: 83%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding-bottom: 1%;
 }

 .footer-nav a{
  color:white;
  text-decoration: none;
 }

 .footer-nav a:hover{
  color: rgb(222, 35, 51);
  text-decoration: none;
 }

 .imagenes_footer{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2%;
 }

.circulo circle{
  fill: blue;
}



 footer p{
    width: 80%;
    margin: 0 auto;
 }

 /***** AQUÍ EMPEZAMOS CON EL MAIN *****/

 #texto-superpuesto{
   font-size: 40px;
   color: white;
   position: absolute;
   top: -40%;
   right: 60%;
   transform: translate(90%, 30%);
 }

 h2{
   text-align: center;
 }

#index_article p{
   width: 60%;
   margin: 0 auto;
   padding-bottom: 10px;
 }

 #section_index{
   display: flex;
   justify-content: center;
   gap: 11%;
   margin: 0 auto;
   
 }

 #section_index article{
   width: 20%;
 }

 #section_index figure{
   text-align: left;
   margin: 0;
 }



 #section_index figure img{
   width: 290px;
   height: 250px;
 }

 #section_index p:nth-of-type(1){
   width: 290px;
   height: 100px;
 }

 #section_index p:last-child{
  font-size: 10px;
   margin-top: 4%;
   width: 290px;
   padding-top: 8%;
   padding-bottom: 8em;
   color: red;
 }

  #section_index a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(222, 35, 51);
}

#section_index a:hover{
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,0,0);
}

 #section_index h3{
   width: 290px;
 }
